#profile {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.left > span {
  height: auto;
  font-size: 50px;
  color: var(--blue-200);
  font-family: "Dancing Script", cursive;
  margin-left: 40px;
}

.social-media {
  display: flex;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  cursor: pointer;
}

.photo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-photo {
  width: 300px;
  height: 500px;
  border-radius: 80%;
  object-fit: cover;
}

#profile p {
  font-size: 20px;
  width: 550px;
  margin: 40px 0;
  line-height: 1.4;
}

.left {
  height: 100%;
  width: 70%;
  flex: 1;
  background: var(--blue-300);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.right {
  height: 100%;
  width: 30%;
  flex: 1;
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 200px;
}

.btn-border {
  background: transparent;
  border: 3px solid var(--white);
}
.button a {
  font-size: 70px;
}

@media all and (max-width: 1270px) {
  #profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .left > span {
    margin-left: 0px;
  }

  .img-photo {
    width: 200px;
    height: 300px;
    border-radius: 80%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .left,
  .right {
    width: 100%;
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profile p {
    width: 90%;
    margin: 0;
  }
}
