

#projects {
  padding-block: 72px 144px;

  .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  .project-card {
    width: 330px;
    background-color: var(--gray-400);
    padding: 12px;
    border-radius: 12px;

    & > img {
      border-radius: 8px;
      margin-bottom: 20px;
    }

    & > h3 {
      font: var(--title-sm);
      color: var(--gray-100);
    }

    & > p {
      font: var(--text-sm);
      margin-top: 8px;
    }
  }
}

#services {
  padding-block: 88px 120px;
  background-color: var(--gray-600);

  .service-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .service-card {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 2px solid var(--gray-500);
    border-radius: 12px;

    & > img {
      width: 48px;
    }
  }
}